body {
  font-size: 14pt;
}

.editableNoteContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteContainer {
  position: relative;
  width: 60%;
  padding: 1.5rem;
  backdrop-filter: blur(1px);
}

.noteContainer img {
  width: 100%;
}

#noteInput {
  background: none;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  padding-top: 10%;
  text-align: center;
  border: none;
  outline: none;
  resize: none;
}

.noteText {
  position: absolute;
}

.note1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note2,
.note3 {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note4 {
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.changeTypeButton,
.editButton {
  aspect-ratio: 1;
  border-radius: 50%;
}

.editButton {
  position: absolute;
  top: 10%;
  right: 20%;
  background-color: rgb(236, 209, 209);
}

.saveButton {
  position: absolute;
  bottom: 15%;
  left: 12.5%;
  background: white;
  border: 3px dotted #DCCBC6;
  border-radius: 10px; 
}
